body{
  margin: 0;
    /* background: url(bg.jpg) no-repeat; */
    background-color: white;
    background-size: cover;
    font-family: 'Century Gothic',sans-serif;

}
a{
    text-decoration: none;
    color: black;
}

.intro{
    margin: 15% 12%;
    padding: 0px;
    width: 80%;
    color: black;
    /* float: left; */
    letter-spacing: 2px;
}

.intro h1{
    margin: 5px 0px;
    font-size: 45px;
    color: rgba(255, 255, 255, 0);
}
.intro h3{
    margin: 5px 0px;
    font-size: 45px;
    color: rgb(54, 54, 54);
}

h1[hey]::before {
  content: attr(hey);
  display: block;
  position: absolute;
  color: #f7cac9;
  opacity: 0.6;
  padding: 0em 0em;
  font-size: 2.3em;
  /* bottom: 65%; */
  z-index: -1;
}
.intro ul{
    margin: 0;
    padding: 0;
}
.intro li{
    display: inline-block;
    list-style: none;
}
.intro li a{
    /* color: rgba(0, 0, 0, 0.4); */
    color: rgb(139, 53, 103);
    text-decoration: none;
    font-size: 45px;
    transition: all ease-in-out 250ms;
}
.intro li a:hover{
    color: #b9b9b9;
}

.link-highlight {
  display: inline-block;
  position: relative;
  margin: 0 -4px -0.4em;
  padding: 0 4px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}

.link-highlight::before {
  content: "";
  display: block;
  position: absolute;
  background: #f7cac9;
  height: 40%;
  bottom: 0px;
  left: 4px;
  right: 4px;
  opacity: 0.5;
  transform: translate3d(0, 0, 0) scale(1, 1);
  transform-origin: center bottom;
  transition: all 400ms;
  pointer-events: none;
  z-index: -1;
}

.link-highlight:hover::before {
  content: "";
  display: block;
  position: absolute;
  background: #f09e9d;
  height: 100%;
  bottom: 0px;
  left: 4px;
  right: 4px;
  opacity: 0.5;
  transform: translate3d(0, 0, 0) scale(1, 1);
  transform-origin: center bottom;
  transition: all 400ms;
  pointer-events: none;
  z-index: -1;
}

::selection {
  background: #f09e9d;
  color: white;
}

